@tailwind base;
@tailwind components;
@tailwind utilities;

header {
   padding: 0;
   font-size: 1.5rem;
   text-align: center;
   font-weight: 600;
   color: rgb(60, 60, 60);
}

.menu {
   display: grid;
   padding: 0.5rem;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   gap: 0;
   justify-content: center;
}
.menu li {
   background-color: royalblue;
   font-size: larger;
   font-weight: 300;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #fff;
   text-align: center;
   /* box-shadow: 3px 3px 5px inset #4c4d83; */
   border: 0;
   height: 3.1rem;
   transition: all 0.2s ease;
   padding-top: 10px;
}

.menu li:hover {
   background-color: #ffc942;
   opacity: 1;
   transform: scale(1.08);  
   color: #3c3c47; 
}